# Env config
.env
.env.production
.secret

# build output
dist/
.output/
functions/\[\[path\]\].js

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# macOS-specific files
.DS_Store

# Misc
NOTES.md
data
